body {
    margin: 0;
    padding: 0;
    background: #4B88A2;
    color: #FFF9FB;
    font-family: 'Lato';
}

h1,h2,h3 {
    color: #FFF9FB;
}

button {
    outline: none;
}

.container {
    width: 80vw;
    margin: 0 auto;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.hint {
    padding: 30px 0;
}

.btn {
    border: 0;
    background: transparent;
    font-size: 40px;
    padding: 0;
    height: 40px;
    width: 40px;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: AppleSystemUIFont;
    position: relative;
}

.btn.active::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(187, 10, 33, .6);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid rgba(187, 10, 33, .8);
    animation: increase .5s ease, buttonPulse infinite alternate-reverse 1s .5s;
}

.onair {
    text-align: center;
}

@keyframes increase {
    from {
        width: 0;
        height: 0;
    }
    to {
        width: 120px;
        height: 120px;
    }
}

@keyframes buttonPulse {
    from {
        width: 100px;
        height: 100px;
    }
    to {
        width: 120px;
        height: 120px;
    }
}


.records {
    height: 100%;
    overflow-y: scroll;
    margin: 20px 0;
}

.records h1 {
    text-align: center;
}
